{% extends "base.html" %}
{% load static %}

{% block title %}ホーム{% endblock %}
{% block h1 %}本だなアプリ{% endblock %}

{% block content %}
<!-- タイトルとナビゲーションボタン -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <!-- タイトルと本文 -->
            <h1 class="fw-light">Product Gallery</h1>
            <p class="lead text-muted">
                プロダクトの投稿サイトです。サムネイルも付けてくださいね！
            </p>
            <p>
                <!-- ナビゲーションボタン -->
                {% if request.user.is_authenticated %}
                <!-- ログイン中のボタン -->
                <a href="{% url 'create-book' %}" class="btn btn-primary my-2">プロダクト登録</a>
                <a href="{% url 'accounts:logout' %}" class="btn btn-secondary my-2">ログアウト</a>
                {% else %}
                <!-- ログイン状態ではない場合のボタン -->
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">サインアップ</a>
                <a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">ログイン</a>
                {% endif %}
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <!-- Bootstrapのグリッドシステムを適用 -->
    <div class="container">
        <!-- 行要素を配置 -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- レコードが格納されたobject_listから
             レコードを1行ずつrecordに取り出す-->
            {% for item in object_list %}
            <!-- 列要素を配置 -->
            <div class="col">
                <div class="card shadow-sm">
                    <!-- svgタグをimgに変更
                 src属性を追加して1枚目のイメージのURLを設定 -->
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail.url }}" class="bd-placeholder-img card-img-top" width="100%"
                        height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">


                    {% else %}
                    <img src="{% static 'book/noimage.png' %}" class="bd-placeholder-img card-img-top" width="100%"
                        height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">


                    {% endif %}
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />


                    <!-- タイトルとボタンを出力するブロック -->
                    <div class="card-body">
                        <p class="card-text">
                            <!-- titleフィールドを出力 -->
                            {{item.title}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- 詳細ページを表示するボタン -->
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    onclick="location.href='{% url 'detail-book' item.pk %}'">
                                    View</button>
                                <!-- カテゴリを表示するボタン -->

                            </div>
                            <!-- 投稿したユーザー名を出力-->
                            <small class="text-muted">
                                {{item.views}}回・Created by{{item.user}}
                            </small>


                        </div>
                    </div>
                </div>
                <!-- 列要素ここまで -->
            </div>
            <!-- forブロック終了 -->
            {% endfor %}
            <!-- 行要素ここまで -->
        </div>
        <!-- グリッドシステムここまで -->
    </div>
</div>







{% endblock content %}